.antd_input {
  border: 1px $light-pale-gray solid;
  border-radius: 1rem;
  width: 100%;

  &.ant-input-borderless {
    background-color: $pure-white;
  }

  &.ant-input-lg {
    height: 5.8rem;
    font-size: 1.8rem;
  }
}