.get_started {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $royal-blue;
  height: 95%;
  margin: 2rem;
  padding: 3rem;
  border-radius: 1.6rem;


  &-body {
    display: flex;
    flex-direction: column;
    gap: 13rem;

  }

  &-welcome {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-navigation {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 4rem;

    &-next {
      width: 29rem;
      height: 7.4rem;
      font-size: 2.2rem;
      padding: 2.2rem 4.4rem 2.2rem 4.5rem;
      display: flex;
      align-items: center;
      justify-content: start;
      position: relative;

      &:hover {
        color: $royal-blue !important;
      }

    }

    &-back {
      font-weight: 400;
    }
  }

  &_title {
    font-size: 4.5rem;
    font-weight: 600;
    color: $pale-gray;
  }

  &_description {
    line-height: 5rem;
    max-width: 55%;
    font-size: 4rem;
    font-weight: 500;
    color: $pale-gray;
  }
}