@import './Calculator/calc';
@import "./Chart/chart";
@import "./Clock/clock";

.pain_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: rgb(0, 166, 255);
    }

    .title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    img {
        width: 5rem;
    }
}

.pain_options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3rem;

}