.step_details {
  &-title {
    font-weight: 600;
    font-size: 5rem;
    color: $royal-blue;
    font-family: $grotesk-font;
  }

  &-description {
    font-weight: 500;
    font-family: $grotesk-font;
    font-size: 4.5rem;
    color: $royal-blue;
  }
}