@import '../assets';
@import '../features';
@import '../components';
@import '../layout';


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Manrope';
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}


.App {
  height: 100vh;
  background-color: $pale-gray;
  overflow: hidden;
}

.routes-transition {
  height: 100%;
  display: flex;
}

.primary {
  color: $royal-blue;
}