@import '../assets';
@import '../features';
@import '../components';
@import '../layout';


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 62.5%;


}

* {
  box-sizing: border-box;
  font-family: 'Manrope';
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  user-select: none;
  font-weight: 400;
  text-decoration: none;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;

  }

  &::-webkit-scrollbar-track {
    background-color: transparent;

  }

  &::-webkit-scrollbar-thumb {
    background-color: $royal-blue;
    border-radius: 1rem;


  }

}


.App {

  height: 100vh;
  background-color: $pale-gray;
  overflow: hidden;
}

.routes-transition {
  height: 100%;
  display: flex;
}

.primary {
  color: $royal-blue;
}