@import './fonts.scss';

.start_now {
  &-pic {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 95%;
    position: absolute;
    right: 2rem;
    top: 2rem;
    object-fit: cover;
    width: 40%;
  }
  &-main {
    display: flex;
    flex-direction: column;
    margin-right: 43%;
  }
  &-layout {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }
  &-description {
    font-family: 'Manrope';
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 50px;
  }
  &-spacer-top {
    margin-top: 200px;
  }
  &-spacer-bottom {
    margin-bottom: 100px;
  }
  a {
    color: inherit;
  }
  h4 {
    font-family: 'Manrope';
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  
}
