.start_now {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-between;
  height: 80%;

  &-header {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }


  justify-content: space-between;


  &-description {
    font-weight: 400;
    color: $pale-gray;
    font-size: 2.4rem;

  }

  &-footer {
    display: flex;
    flex-direction: column;
    gap: 8.7rem;

    &-extra {
      font-size: 1.8rem;
      font-weight: 400;
      color: $pale-gray;
    }
  }
}