.workspace_config {
  &-container {
    width: 100%;
    height: 100%;
    background-color: $royal-blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $pale-gray;
    height: 95%;
    width: 96%;
    border-radius: 1.6rem;

    .get_started-navigation {
      &-next {
        &:hover {
          color: $pale-gray !important;
        }
      }

      &-back {
        color: $royal-blue;
      }
    }
  }

}