.get_started {
  &-layout {
    padding: 2rem;
    height: 100%;

  }

  background-color: $royal-blue;
  border-radius: 1.6rem;
  display: flex;

  &-contenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    height: 100%;
  }

  &-pic {
    border-top-right-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    object-fit: cover;

    @include mq(1200px, max) {
      display: none;
    }

  }

  &-title {
    color: $pale-gray;
    size: 5rem;
    font-weight: 600;
    font-family: $grotesk-font;
  }


}