.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fac {
  display: flex;
  align-items: center;
}

.fjc {
  display: flex;
  justify-content: center;
}

.dir-col {
  flex-direction: column;
}


.g-4 {
  gap: 4rem;
}

.g-1 {
  gap: 1rem;
}

.grotesk {
  font-family: 'Clash Grotesk';
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}