@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Tajawal:wght@200;400;500;700;800;900&display=swap');
@mixin Flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
.chat-boot{
    &__container{
        width: 100%;
        height: 95vh;
        top: 0;
        position: absolute;
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Livvic';
        }
    }
    &__wrapper{
        @include Flex(column , end , end);
        gap : 1rem;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
    &__modal{
        &--content{
            width: 30rem;
            height: 38rem;
            @include Flex(column);
            border-radius: 1rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.197);
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            background: white;
        }
        &--icon{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 3rem;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 2px solid white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.323);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover{
            scale: 1.05;
            transform: translateY(-0.3rem);
        }
        }
        &__box{
            width: 100%;
            height: 100%;
            @include Flex(column,end  );
            padding: 0.5em;
            gap: 0.2rem;
            &__input{
                @include Flex();
                gap: 0.5rem;
                width: 100%;
                padding : 0.5rem;
                border-top: 1px solid #d4d4d5;
                input{
                    width: 100%;
                    border: 0;
                    outline: 0

                }
                input::placeholder{
                    letter-spacing: 0.5px
                }
                &__icon{
                    @include Flex();
                    width: 2.5rem;
                    aspect-ratio: 1;
                    background: linear-gradient(to right ,#1D52E4 , #0EB7FC);
                    padding: 0.2rem;
                    border-radius: 50%;
                    cursor: pointer ;
                    transition: all 0.1s ease-in-out;
                    box-shadow: 0 0 10px rgba(55, 203, 232, 0.514);

                    &:active{
                        scale: 0.9;
                    }
                    svg{
                        width: 1rem;
                        path{
                            fill: white;
                        }
                    }
                }
            }
            &__content{
                width: 100%;
                height: 100%;
                @include Flex(column , start , start);
                gap: 0.6rem;
                overflow: auto;
                padding: 1rem 0.4rem;
                padding-bottom: 2rem;
                &::-webkit-scrollbar{
                    display: none
                }
                background-image: url('../features/Boot/assets/images/chat_background.jpeg');
                background-size: cover;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                box-shadow:0 0 5px rgba(0, 0, 0, 0.148)    ;
                &__message{
                    @include Flex(row , center , start);
                    gap: 0.5rem;
                    p{
                        @include Flex(row , end);
                        padding: 0.5rem 0.8rem;
                        border-radius: 0.8rem;
                        font-size: 1.3rem;
                    
                    }
                    &__img{
                        width: 3.2rem;
                        height: 3.2rem;
                        min-width: 3.2rem;
                        border-radius: 3rem;
                        overflow: hidden;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.323);
                        border: 2px solid white;
                        transform: translateY(-0.5rem);
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &--system{
                        align-self: start;
                        p{
                        
                            background: #F0F2F7;
                            box-shadow: 0 0 5px #0000005c;
                        }

                    }
                    &--user{
                        align-self: end;
                        p{
                            background: linear-gradient(to right ,#1D52E4 , #0EB7FC);
                            color: rgb(225, 224, 224);
                            box-shadow: 0 0 5px #4ab5df3f;
                        }
                     }
                }
            }
        }
    }
}